.gradient-text {
  background: linear-gradient(90deg, #af7ade, #827ade, #7aaede);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bottom-divider {
  border-bottom: 1px solid #ccc;
}